<ion-view view-title="Sign Up" name="login-view">
  <ion-nav-buttons side="left">
      <button class="button" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
  </ion-nav-buttons>
  <ion-content class="">
      <div class="list list-inset">
          <div class="panel">
          <h3>{{ registration.message }}</h3> 
          <form name="form" >
            <div class="form-group">
              <div class="control-label" for="firstname">
                First Name
              </div>
              <label class="item item-input">
                  <input type="text" placeholder="" ng-model="data.firstname" class="form-control" required name="firstname">
              </label>
              <span ng-show="form.firstname.$dirty &amp;&amp; form.firstname.$error.required" class="help-block">
                First name is required
              </span>
            </div>
            <div class="form-group">
              <div class="control-label" for="lastname">
                Last Name
              </div>
              <label class="item item-input">
                  <input type="text" placeholder="" ng-model="data.lastname" class="form-control" required name="lastname">
              </label>
              <span ng-show="form.lastname.$dirty &amp;&amp; form.lastname.$error.required" class="help-block">
                Last name is required
              </span>
            </div>
            <div class="form-group">
              <div class="control-label" for="username">
                Username
              </div>
              <label class="item item-input">
                  <input type="text" placeholder="" ng-model="data.username" class="form-control"  required name="user">
              </label>
              <span ng-show="form.user.$dirty &amp;&amp; form.user.$error.required" class="help-block">Username is required.</span>
            </div>
            <div class="form-group">
              <div class="control-label" for="email">
                Email
              </div>
              <label class="item item-input">
                  <input type="email" ng-model="data.email" name="email" id="email" placeholder="" required class="form-control">
              </label>
              <span ng-show="form.email.$dirty &amp;&amp; form.email.$error.email" class="help-block">
                Email is invalid
              </span>
            </div>
            <div class="form-group">
              <div class="control-label" for="password">
                Password
              </div>
              <label class="item item-input">
                  <input type="password" name="password" id="password" ng-model="data.password" required placeholder="" class="form-control">
              </label>
              <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block">
                Please enter a password
              </span>
            </div>
            <div class="form-group">
              <div class="control-label" for="confirm">
                Confirm Password
              </div>
              <label class="item item-input">
                  <input type="password" name="verification" id="verification" ng-model="data.verification" ng-match="data.password" class="form-control" placeholder="" compare-to="data.password">
              </label>
              <div ng-messages="form.verification.$error" ng-messages-include="templates/messages.html"></div>
              <span ng-show="form.verification.$dirty &amp;&amp; form.verification.$error.required" class="help-block">
                Please repeat your password
              </span>
            </div>
            <!-- <input type="submit" value="Sign Up" class="button button-block button-positive" /> -->
            <br />
            <button class="button button-block button-positive" ng-click="signup(data)">
              SignUp
            </button>
          </form>
          </div>
      </div>

  </ion-content>
</ion-view>